jhgjh
hghg
gfh
g
  <div id="landing-page-outer" class="landing-page-outer" style="background-color: blue !important">
      <div class="landing-page-wrapper" id="landing-page-wrapper">
        <div class="landing-page-inner">
          <div class="landing-page-content">
            <div class="section-outer landing-app-bar ">
              <div class="section-inner landing-app-bar-inner">
                <div class="landing-app-bar-left">
                  <div class="logo"><img src="/assets/img/easy-plan-logo-white.svg" /></div>
                </div>
             
              </div>
            </div>
           