
  <ion-content #scrollElement [scrollEvents]="true"> 
     <div id="landing-page-outer" class="landing-page-outer">
    <div class="landing-page-wrapper" id="landing-page-wrapper">
      <div class="landing-page-inner">
        <div class="landing-page-content">
          <div class="section-outer landing-app-bar ">
            <div class="section-inner landing-app-bar-inner">
              <div class="landing-app-bar-left">
                  <div class="logo"><img src="/assets/img/easy-plan-logo-white.png" /></div>
                </div>
           
            </div>
          </div>
          <div class="section-outer landing-header-outer">
            <div class="section-inner landing-header-inner">
              <div class="landing-header-left">
                <div class="mouse" (click)="scrollContent()"><img src="/assets/img/mouse.svg" /></div>
                <div class="title">Check your proximity with COVID-19 patients in the past 20 Days </div>
                <div class="subtitle">Login with google and check if you have travelled to the same place as COVID-19 cases in past 20 days.
                   We processes the raw Google Location History recorded by your smartphone  </div>
                <div class="growth" (click)="scrollContent()">Check Now</div>
               
              </div>
              <div class="landing-header-right">
                <div class="phone"><img src="/assets/img/shots.png" /></div>
                <!-- <div class="screenshot"><img src="/assets/img/landing-screenshot.png" /></div> -->
              </div>
            </div>
          </div>
          <div name="content" id="content" class="section-outer how-it-works-outer">
            <div class="section-inner how-it-works-inner" id="how">
              <div class="title">How to works</div>
              <div class="content">
                <div class="center-line"></div>
                <div class="content-row-outer">
                  <div class="mobile-content-row">
                    <div class="step-number" style="height: 45px">1</div>
                    <div class="title">Export the google location hitory</div>
                    <div class="icon"><img src="/assets/img/gmap.png" style="width:45px;" /></div>
                    <div class="text">To start off, you'll need to go to Google Takeout to export your Location History data: on that page, hit "Next" ,On next  page select Delivery method as Add to drive and, finally, click "Create export". Once the export has been created,Come back here, and do the step 2. </div>
                   <br>
                   <div class="growth" style="
                        background: #2d55d6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 0 20px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 50px;
    font-family: Muli;
    color: #fff;
    max-width: 350px;
    text-align: center;
    font-weight: 600;
    zoom: 0.7;
    cursor: pointer;
                    " (click)="openlink()">Export Timeline Data</div>

                  </div>
                  <div class="content-row">
                    <div class="left-icon"><img src="/assets/img/gmap.png" style="width:60px;" /></div>
                    <div class="step-number" style="height: 60px">1</div>
                    <div class="right-text" >
                      <div class="title">COVID-19 Cases travel history is traced</div>
                      <div (click)="openlink()" class="text">To start off, you'll need to go to Google Takeout to export your Location History data: on that page, hit "Next" ,On next  page select Delivery method as Add to drive and, finally, click "Create export". Once the export has been created,Come back here, and do the step 2. </div>
                      <div class="growth" style="
                      background: #2d55d6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 50px;
  font-family: Muli;
  color: #fff;
  max-width: 350px;
  text-align: center;
  font-weight: 600;
  zoom: 0.7;
  cursor: pointer;
                  " (click)="openlink()">Export Timeline Dataa</div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                    <br>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  <br>
                  </div>
                </div>
                <div class="content-row-outer">
                  <div class="mobile-content-row">
                    <div class="step-number" style="height: 45px">2</div>
                    <div class="title">Login With Google</div>
                    <div class="icon"><img src="/assets/img/google.png"  style="width: 65px;" /></div>
                    <div class="text">Login with google  and give access to drive, so that we will process your travel data with high security.</div>
                    <br>
                    <div class="growth" style="
                         background: #2d55d6;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
     border-radius: 3px;
     padding: 0 20px;
     margin-bottom: 30px;
     font-size: 24px;
     line-height: 50px;
     font-family: Muli;
     color: #fff;
     max-width: 350px;
     text-align: center;
     font-weight: 600;
     zoom: 0.7;
     cursor: pointer;
                     " (click)="handleAuthClick($event)"><ion-icon style="margin-top: 10px; zoom: 1.1; position: absolute !important;" name="logo-google"></ion-icon> <span style="margin-top: -20px"> &nbsp;&nbsp; &nbsp;&nbsp; Login With Google</span></div>
                  </div>
                  <div class="content-row" style="margin-top: 90px">
                    <div class="left-text">
                      <div class="title">Login With Google</div>
                      <div class="text">Login with google  and give access to drive, so that we will process your travel data with high security.
                      <br>
                      <div class="growth" style="
                           background: #2d55d6;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
       border-radius: 3px;
       padding: 0 20px;
       margin-bottom: 30px;
       font-size: 24px;
       line-height: 50px;
       font-family: Muli;
       color: #fff;
       max-width: 350px;
       text-align: center;
       font-weight: 600;
       zoom: 0.7;
       cursor: pointer;
       " (click)="handleAuthClick($event)"><ion-icon style="margin-top: 10px; zoom: 1.1; position: absolute !important;" name="logo-google"></ion-icon> <span style="margin-top: -20px"> &nbsp;&nbsp; &nbsp;&nbsp; Login With Google</span></div>
                       </div>
                    </div>

                    <div class="step-number" style="height: 60px">2</div>
                    <div class="right-icon"><img src="/assets/img/google.png" style="width: 75px;" /></div>
                  </div>
                </div>
                <div class="content-row-outer"  style="margin-top: 70px">
                  <div class="mobile-content-row">
                    <div class="step-number" style="height: 45px">3</div>
                    <div class="title">Check your status</div>
                    <div class="icon"><img src="/assets/img/status.png"  style="width:80px;" /></div>
                    <div class="text">We will notify you if you and the COVID-19 positive case have been in same location for past 20 days. </div>
                  </div>
                  <div class="content-row">
                    <div class="left-icon"><img src="/assets/img/status.png" style="width:90px;" /></div>
                    <div class="step-number" style="height: 60px">3</div>
                    <div class="right-text">
                      <div class="title">Check your status</div>
                      <div class="text">We will notify you if you and the COVID-19 positive case have been in same location for past 20 days.</div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
          <div class="section-outer-money money-outer">
            <div class="section-inner money-inner">
              
              <div class="box_money_title"> 
               <a href="/privacypolicy">Privacy and Policy </a>
              </div>
            
              
            </div>
          </div>
          <div class="section-outer-money money-outer" *ngIf="0">
            <div class="section-inner money-inner">
              <div class="title">What is WhereIMet?</div>
              
              <div class="box_money_title">COVID-19 Auto Tracer is an app which 
                allows you to check whether you have been in the same place as COVID-19 cases. 
                This works with the data collected by the google timeline. This helps the people to 
                check their probablity of being affected so that they will be at self isolation controlling
                 the spread of virus. We at 
                India Group Of Companies done this as a small contribution to fight against COVID-19
              </div>
            
              
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
          <!-- <app-intro> </app-intro> -->

          <!-- <div class="section-outer-benefit should-outer">
            <div class="section-inner-benefit should-inner">
              <div class="title">Why should I use it?</div>
              <div class="content">
                <div class="should-cell">
                  <div class="should_icon"><img src="/assets/img/spaceship.svg" /></div><span class="should_title">Keeps you
                    motivated</span>
                  <p class="should_text">Get regular updates. View your goal progress. Add, edit or delete goals easily
                  </p>
                </div>
                <div class="should-cell">
                  <div class="should_icon"><img src="/assets/img/happy.svg" /></div><span class="should_title">No
                    penalties</span>
                  <p class="should_text">Skip or change your savings contributions. No penalties unlike with FDs, RDs
                    and SIPs.</p>
                </div>
                <div class="should-cell">
                  <div class="should_icon"><img src="/assets/img/money.svg" /></div><span class="should_title">Safe, but
                    smart</span>
                  <p class="should_text">Save in a low-risk liquid mutual fund. Expected rate of return almost 2x that
                    of regular bank savings accounts.</p>
                </div>
                <div class="should-cell">
                  <div class="should_icon"><img src="/assets/img/strongbox.png" /></div><span class="should_title">No
                    lock-ins</span>
                  <p class="should_text">Withdraw up to Rs 50,000 instantly, any time. Remaining amount in 1-2 working
                    days.</p>
                </div>
              </div>
            </div>
          </div>
         
          <div class="section-outer-footer footer-outer">
            <div class="section-inner-footer footer-inner">
              <div class="footer-top">
                <div class="left">
                  <div class="company-logo"><img src="/assets/img/easyplan-logo-coloured-footer.svg" /></div>
                </div>
              </div>
              <div class="footer-middle">
                <div class="right">
                  <div class="title">Disclaimer</div>
                  <div> Mutual Fund investments are subject to market risks. Please read the scheme information and
                    other related documents carefully before investing. Past performance is not indicative of future
                    returns. Easyplan Technologies Private Limited makes no warranties or representations, express or
                    implied, on products offered through the platform. It accepts no liability for any damages or
                    losses, however caused, in connection with the use of, or on the reliance of its products or related
                    services. Terms and Conditions of the website are applicable.</div>
                </div>
                <div class="center">
                  <div class="contact_us">
                    <div class="contact">Contact us:</div>
                    <div class="phone">
                      <div class="icon_contact_us"><img src="/assets/img/phone_icon.svg" /></div><a href="tel:+912248962927">022
                        - 48962927</a>
                    </div>
                    <div class="email">
                      <div class="icon_contact_us"><img src="/assets/img/email_icon.svg" /></div><a
                        href="mailto:hello@easyplan.in">hello@easyplan.in</a>
                    </div>
                    <div class="email">
                      <div class="icon_contact_us"><img src="/assets/img/whatsapp-icon-black.svg" /></div><a
                        href="whatsapp://send?phone=%2B919137236156&amp;text=">Whatsapp us</a>
                    </div>
                  </div>
                  <div class="social_box"><a class="social-button" href="https://www.facebook.com/easyplanindia/"><img
                        src="/assets/img/facebook-icon.svg" /></a><a class="social-button"
                      href="https://www.instagram.com/easyplan_india/"><img src="/assets/img/instagram-icon.svg" /></a><a
                      class="social-button" href="https://www.linkedin.com/company/easyplan-india/"><img
                        src="/assets/img/linkedin-icon-2.svg" /></a>
                    <div class="download-button"><img src="/assets/img/google_play.png" /></div>
                    <div class="download-button"><img src="/assets/img/app-store-badge.png" /></div>
                  </div>
                </div>
                <div class="left">
                  <div class="section-button"><a href="blog/index.html">Blog</a></div>
                  <div class="section-button"><a href="blog/careers/index.html">Careers</a></div>
                  <div class="section-button">Terms &amp; Conditions</div>
                  <div class="section-button">Privacy Policy</div>
                  <div class="section-button">Disclosures</div>
                </div>
              </div>
              <div class="footer-divider"></div>
              <div class="footer-bottom">
                <div>Copyright © 2018 EasyPlan Technology Solution Private Limited, All rights reserved.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-modals" id="landing-modals"></div>
  </div> -->
</ion-content>