<div style="background-color: #7C80EC;" >
              <div class="landing-app-bar-left" style="padding: 18px 12px!important;">
                <div class="logo"><img src="/assets/img/easy-plan-logo-white.png" /></div>
              </div>
           
            </div> 
         <ion-content >
            <ion-card color="light" *ngIf="l==9"> 
                    <ion-card-header>
                    <ion-card-title>You Don`t have enough data to process</ion-card-title>
            
                     </ion-card-header>

                        </ion-card>

           <div *ngIf="l==1"> 
            <lottie-animation-view 
            [options]="lottieConfig"
            [width]="300"
            [height]="400"
            >
            
      </lottie-animation-view>
      <p padding style="font-weight: 900; font-size:14px; text-align: center; padding:22px; color: rgb(100, 92, 92)">Washing your hands with soap and water for at least 20s or using an alcohol-based hand sanitiser, has been proven to kill the COVID-19 virus effectively. </p>
    </div>

    <div *ngIf="l==2"> 
        <p padding style="font-weight: 600; font-size:14px; text-align: center; padding:22px; color: rgb(100, 92, 92)">Matching loactions with suspects travel history </p>
        <p padding style="font-weight: 900; font-size:22px; text-align: center; padding:22px; color: rgb(100, 92, 92)">{{locationname}} </p>
       <div style="position: fixed; bottom:0px; margin-left:40px ">
        <lottie-animation-view 
        [options]="stay"
        [width]="300"
        [height]="400"
        >
        
  </lottie-animation-view>
</div> 
    </div>
        <ion-grid fixed class="ion-no-padding" *ngIf="l==3">
                <ion-row>
                    <ion-col sizeXl="10" offsetXl="1" sizeLg="10" offsetLg="1" sizeMd="12" sizeXs="12" offsetXs="0" offsetSm="0"
                        offsetMd="0" sizeSm="12" sizeMd="12">
                        <p>
        
                        </p>
                        <div class="docs-cards">
                                <ion-card color="light" > 
                                    <img src="http://pngimg.com/uploads/coronavirus/coronavirus_PNG43.png" style="height:100px;  position: absolute; margin-top:-40px; right :0px; margin-right:-40px;">
                                        <ion-card-header>
                                        <ion-card-title>{{matcheddata.length}}</ion-card-title>
                                                <ion-card-subtitle>Times contacted</ion-card-subtitle>
                                
                                         </ion-card-header>
                                         <ion-card-content>
                                         <ion-grid padding> 
                                                <ion-row padding>
                                               
                                                <ion-col size="6" style="margin-left:auto; margin-right:auto;" text-center>
                                                   
                                                  
                                                    <ion-card-subtitle><span style="font-size:25px; font-weight:bold;  color: rgb(46, 170, 46);">{{direct}}</span><br>DIRECT</ion-card-subtitle>
                                                </ion-col> 
                                                 <ion-col size="6" style="margin-left:auto; margin-right:auto;" >
                                                   
                                                  
                                                    <ion-card-subtitle><span style="font-size:25px; font-weight:bold;  color: rgb(218, 218, 29);">{{matcheddata.length - direct}}</span><br>INDIRECT</ion-card-subtitle>
                                                </ion-col> 
                                             
                                               
                                               
                                            
                                              </ion-row>
                                            </ion-grid> 
                                        </ion-card-content>

                                            </ion-card>

                                            <ion-card *ngIf="0">
                                                <ion-list lines="none" >
                                                    <ion-item>
                                                            <ion-thumbnail slot="start" style="zoom:0.8;">
                                                              <img src="assets/outbreak.png">
                                                            </ion-thumbnail>
                                                            <ion-label text-wrap>
                                                              <p style="font-weight: 800; font-size:17px" text-wrap>Indira Projects Private Limited</p>
                                                              <p style="font-weight: 600; font-size:11px">Mar 25 2020</p>
                                                            </ion-label>
                                                            <!-- <ion-note slot="end" style="text-align: right">You Visited<br>on<br>on</ion-note> -->
                                            
                                                          </ion-item>
                                                      <ion-item>
                                                            <ion-label text-wrap>
                                                                    <ul> 
                                            
                                                               <li>  <p style="font-weight: 600; font-size:13px; color:#999999;">You have crossed the suspect here.</p></li>
                                                            
                                                               <li>   <p text-wrap style="font-weight: 600; font-size:13px; color:#999999;"> You visited here at <span style="font-weight: 800; font-size:13px; color: red;"> 8:25 pm to 9:30 pm</span> and Suspect  at <span style="font-weight: 800; font-size:13px; color: red;">  8:55 pm to 10:30 pm </span></p></li>
                                                               <li>   <p text-wrap style="font-weight: 600; font-size:13px; color:#c2a6a6;">  Address : 116, 1, Anna Salai, behind IDBI Bank, Little Mount, Saidapet, Chennai, Tamil Nadu 600015 India
                                                                  India  </p></li>
                                                           
                                                            </ul>
                                                        </ion-label>
                                                          </ion-item>
                                                        </ion-list>
                                                    </ion-card>
                                            <ion-card *ngIf="0">
                                                <ion-list lines="none" >
                                                    <ion-item>
                                                            <ion-thumbnail slot="start" style="zoom:0.8;">
                                                              <img src="assets/outbreak.png">
                                                            </ion-thumbnail>
                                                            <ion-label text-wrap>
                                                              <p style="font-weight: 800; font-size:17px" text-wrap>Onstep Technologies</p>
                                                              <p style="font-weight: 600; font-size:11px">Mar 25 2020</p>
                                                            </ion-label>
                                                            <!-- <ion-note slot="end" style="text-align: right">You Visited<br>on<br>on</ion-note> -->
                                            
                                                          </ion-item>
                                                      <ion-item>
                                                            <ion-label text-wrap>
                                                                    <ul> 
                                            
                                                               <li>  <p style="font-weight: 600; font-size:13px; color:#999999;">You  have crossed the suspect here.</p></li>
                                                            
                                                               <li>   <p text-wrap style="font-weight: 600; font-size:13px; color:#999999;"> You visited here at <span style="font-weight: 800; font-size:13px; color: red;"> 11:35 AM to 12:12 PM</span> and Suspect  at <span style="font-weight: 800; font-size:13px; color: red;">  9:43 AM to 11:07 AM</span></p></li>
                                                               <li>   <p text-wrap style="font-weight: 600; font-size:13px; color:#999999;">  Address : 66,Little Mount, Saidapet, Chennai, Tamil Nadu 600015 India  </p></li>
                                                           
                                                            </ul>
                                                        </ion-label>
                                                          </ion-item>
                                                        </ion-list>
                                                    </ion-card>
    <ion-card  *ngFor="let x of matcheddata">
    <ion-list lines="none" >
        <ion-item>
                <ion-thumbnail slot="start" style="zoom:0.8;">
                  <img src="assets/outbreak.png">
                </ion-thumbnail>
                <ion-label text-wrap>
                  <p style="font-weight: 800; font-size:17px" text-wrap>{{x[0][8]}}</p>
                  <p style="font-weight: 600; font-size:11px">{{ x[0][3] | date }}</p>
                </ion-label>
                <!-- <ion-note slot="end" style="text-align: right">You Visited<br>on<br>on</ion-note> -->

              </ion-item>
          <ion-item>
                <ion-label text-wrap>
                        <ul> 

                   <li>  <p style="font-weight: 600; font-size:13px; color:#999999;">You have crossed the suspect here.</p></li>
                
                   <li>   <p text-wrap style="font-weight: 600; font-size:13px; color:#999999;"> You visited here at <span style="font-weight: 800; font-size:13px; color: red;"> {{ x[0][3] | date:'shortTime' }} to {{ x[0][4] | date:'shortTime' }}</span> and Suspect  at <span style="font-weight: 800; font-size:13px; color: red;"> {{ x[1][3] | date:'shortTime' }} to {{ x[1][4] | date:'shortTime' }} </span></p></li>
                   <li>   <p text-wrap style="font-weight: 600; font-size:13px; color:#999999;"> Address : {{ x[1][7] }} </p></li>
               
                </ul>
            </ion-label>
              </ion-item>
            </ion-list>
        </ion-card>
    </div>
</ion-col>

</ion-row>
</ion-grid>


</ion-content>